{% extends 'base.html' %}
{% load static %}

{% block title %}
Products Search Page
{% endblock %}

{% block content %}
<h1>Products Search Page</h1>
<div class="container-fluid">
    <div class="row">
      <img style="width: 100%" src="{% static 'img/unicorn2.jpg' %}" alt="">
    </div>
</div>

  <div class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-10 mx-auto my-2 text-center">
          <h1 class="text-captitalze font-weight-bold">
            All Kinsey Products
          </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- bootstrap to display columns -->
    <div class="row">
        {% for product in products %}
        <div class="col-9 mx-auto col-md-6 col-lg-3">
          <div class="card mb-4"> 
            <div class="p-4"> 
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}"> 
            </div>
            <div class="card-footer d-flex justify-content-between"> 
              <p class="font-weight-bold mb-0">
                {{ product.name }}
              </p>
              <h5 class="text-info mb-0">
                <span class="mr-1"></span> {{ product.price }}
            </div>
          </div>
          <p><a href="{{ product.get_url }}">Product Details</a></p>
        </div> 
        {% endfor %}
    </div>
</div>
{% endblock %}